html {
  height: 100%;
}
body {
  height: 100%;
}
.logobgdcolor {
  background-color: #23272b;
}
.logobgcolor {
  background-color: #d1294e;
}
.logodcolor {
  color: #23272b;
}
.logocolor {
  color: #d1294e;
}
.max500 {
  max-width: 500px;
}
.max400 {
  max-width: 400px;
}
